# avatar (puede ser una url o un :emoji:)
BOT_AVATAR={{BOT_AVATAR_URL}}

# nombre con el que el bot publica en el channel
BOT_NAME={{BOT_NAME}}

# url al endpoint donde buscar eventos
CALENDAR_API_URL={{CALENDAR_API_URL}}

# channel donde publica el bot
CHANNEL={{CHANNEL}}

# nombre de la instancia
INSTANCE_NAME={{INSTANCE_NAME}}

NODE_ENV=development

# para crear un `incoming webhook` en slack ir a https://api.slack.com/incoming-webhooks
SLACK_WEBHOOK_URL={{SLACK_WEBHOOK_URL}}